In [15]:
import pandas as pd
import numpy as np

In [16]:
a = np.array([1,2,3,4])
a.shape
print(a[-2])

3

In [17]:
item = ['chocolate']

In [18]:
type(item)

list

In [39]:
items = pd.Series(data=[15 , 5 , 'no'] , index=['chocolates','chips','milk'])

In [21]:
items['chocolates']

15

In [22]:
items[[0,1]]

chocolates    15
chips          5
dtype: object

In [23]:
items.loc[['milk','chips']]

milk     no
chips     5
dtype: object

In [24]:
items.iloc[[1,2]]

chips     5
milk     no
dtype: object

In [26]:
items

chocolates    15
chips          5
milk          no
dtype: object

In [27]:
items['milk'] = 'Yes'
print(items)

chocolates     15
chips           5
milk          Yes
dtype: object

In [31]:
items.drop('chocolates') # Its tempurary

chips      5
milk     Yes
dtype: object

In [32]:
items

chocolates     15
chips           5
milk          Yes
dtype: object

In [33]:
items.drop('chocolates', inplace = True)
# Permanently changing it

In [34]:
print(items)

chips      5
milk     Yes
dtype: object

In [35]:
# Arithmetic operations
sweet = pd.Series(data=[10,5,7], index=['candies','donut','nut'])

In [36]:
print(sweet)

candies    10
donut       5
nut         7
dtype: int64

In [37]:
np.power(sweet, 4)

candies    10000
donut        625
nut         2401
dtype: int64

In [40]:
items * 2

chocolates      30
chips           10
milk          nono
dtype: object

In [41]:
# Data frame 
i = {'Shaurya': pd.Series([250,15,70,100], index=['watch','toy','glasses','shirt']),
      'Ashish': pd.Series([100,15,20], index = ['pant','book','toy'])}

In [42]:
cart = pd.DataFrame(i)

In [43]:
print(cart)

         Shaurya  Ashish
book         NaN    15.0
glasses     70.0     NaN
pant         NaN   100.0
shirt      100.0     NaN
toy         15.0    20.0
watch      250.0     NaN

In [44]:
new_items = {'shauriya': pd.Series([250,15,70,100]),
            'Ashish': pd.Series([120,50,90])}
df = pd.DataFrame(new_items)

In [45]:
df

   shauriya  Ashish
0       250   120.0
1        15    50.0
2        70    90.0
3       100     NaN

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   shauriya  4 non-null      int64
 1   Ashish    3 non-null      float64
dtypes: float64(1), int64(1)
memory usage: 192.0 bytes

In [47]:
cart

         Shaurya  Ashish
book         NaN    15.0
glasses     70.0     NaN
pant         NaN   100.0
shirt      100.0     NaN
toy         15.0    20.0
watch      250.0     NaN

In [48]:
cart.index

Index(['book', 'glasses', 'pant', 'shirt', 'toy', 'watch'], dtype='object')

In [49]:
cart.columns

Index(['Shaurya', 'Ashish'], dtype='object')

In [50]:
cart.values

array([[ nan,  15.],
       [ 70.,  nan],
       [ nan, 100.],
       [100.,  nan],
       [ 15.,  20.],
       [250.,  nan]])

In [51]:
cart.shape

(6, 2)

In [52]:
cart.size

12

In [53]:
cart.ndim

2

In [61]:
i = {'Physics': pd.Series([50,65,70,85], index=['philip','mathus','cilien','edin']),
      'Maths': pd.Series([100,74,85,88], index = ['philip','mathus','cilien','edin'])}
df = pd.DataFrame(i)
print(df)

        Physics  Maths
philip       50    100
mathus       65     74
cilien       70     85
edin         85     88

In [62]:
a = pd.Series([1,2,'yes','no'])
list(a.items())

[(0, 1), (1, 2), (2, 'yes'), (3, 'no')]

In [63]:
df.loc['philip']

Physics     50
Maths      100
Name: philip, dtype: int64